@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
$card-border-color: #cf303f;
$background-color: #ffd4db;
$animation-speed: 0.2s;
$font-family: 'Press Start 2P', cursive;

$outline-width: 6px;
$shadow-width: 4px;

$button-background: #92CD41;
$sec-button-background: #76c442;
$shadow-color:  #4AA52E;

$alt-button-background: #F7D51D;
$alt-sec-button-background: #F2C409;
$alt-shadow-color:  #E59400;

$reset-button-background: #E76E55;
$reset-sec-button-background: #CE372B;
$reset-shadow-color:  #8C2022;

@keyframes flip {
    0% {
      transform: rotateY(90deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }

@keyframes unflip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}

body{
  font-family: $font-family;
  background-color: $background-color;
}



//boton 8 bits
.new-game-button {
  background: $button-background;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 15px;
  padding: 12px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none; 
  color: white;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;

  &:hover,
  &:focus {
      background: $sec-button-background;
      box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $shadow-color;
  }

  &:active {
      box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-color;
  }

  &:before,
  &:after {
  content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: content-box;
  }

  &:before {
      top: -$outline-width;
      left: 0;
      border-top: $outline-width black solid;
      border-bottom: $outline-width black solid;
  }

  &:after {
      left: -$outline-width;
      top: 0;
      border-left: $outline-width black solid;
      border-right: $outline-width black solid;
  }

  &--reset {
      background: $reset-button-background;
      box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $reset-shadow-color;

      &:hover,
      &:focus {
          background: $reset-sec-button-background;
          box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $reset-shadow-color;
      }

      &:active {
          box-shadow: inset $shadow-width $shadow-width 0px 0px $reset-shadow-color;
      }

  }

  &--proceed {
      background: $alt-button-background;
      box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $alt-shadow-color;

      &:hover,
      &:focus {
          background: $alt-sec-button-background;
          box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $alt-shadow-color;
      }

      &:active {
          box-shadow: inset $shadow-width $shadow-width 0px 0px $alt-shadow-color;
      }

  }
}
 
.cardContainer{
  
  height:100px;
  width: 100px;  

  .unflipped{
    animation: unflip $animation-speed linear;
    transform: rotateY(90deg);   
    position: absolute;
    padding: 5px;
    background-color: $card-border-color;
    height: inherit;
    width: inherit;
  }

  .flipped{
    animation: flip $animation-speed linear;
    transform: rotateY(0deg);
    position: absolute;
    border-radius: 5px;
    //drop-shadow: (0px 0px 5px rgba(0,0,0,0.5));
    padding: 5px;
    background-color: $card-border-color;
    height: inherit;
    width: inherit;
  }
}

.movesDisplay{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .tittle{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .counter{
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.game-container{
  display: flex;
  justify-content: center;  
  margin-top: 80px;

  .grid-container{
    display: grid;
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: repeat(4, 125px);    
  }

}

.button-container{
  display: flex;
  justify-content: center;
}