$card-border-color: #cf303f;

@keyframes flip {
    0% {
      transform: rotateY(90deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }

@keyframes unflip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}

h1 {    
    color: red;    
    
}
 
.cardContainer{
  
  height:100px;
  width: 100px;  

  .unflipped{
    animation: unflip 0.2s linear;
    transform: rotateY(90deg);   
    position: absolute;
    padding: 5px;
    background-color: $card-border-color;
    height: inherit;
    width: inherit;
  }

  .flipped{
    animation: flip 0.2s linear;
    transform: rotateY(0deg);
    position: absolute;
    border-radius: 5px;
    drop-shadow: (0px 0px 5px rgba(0,0,0,0.5));
    padding: 5px;
    background-color: $card-border-color;
    height: inherit;
    width: inherit;
  }
}

.game-container{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  .grid-container{

    display: grid;
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: repeat(4, 125px);
  }
}